<ion-view view-title="设备状态查询">
    <ion-content>

        <div class="padding button-bar button-clear-border-none">
            <a class="button" ng-class="btnTabIndex == 0 ? 'button-positive':'button-outline button-clear'" ng-click="onTabSelected(0)">扫描</a>
            <a class="button" ng-class="btnTabIndex == 1 ? 'button-positive':'button-outline button-clear'" ng-click="onTabSelected(1)">手动</a>
        </div>
        <div class="fm">
            <div class="row">
                <div class="col col-33">{{btnTabIndex == 0 ? "扫描":"输入"}}条码：</div>
                <div class="col col-67"><input type="text" ng-model="ModelData.Barcode" ng-change="onBarcodeChanged()" /></div>
            </div>
            <div class="padding" ng-show="btnTabIndex == 1">
                <button class="button button-block button-positive" ng-click="onSure()">确定</button>
            </div>
        </div>

    </ion-content>
</ion-view>